#maze {
    display: grid;
    grid-template-columns: repeat(1000, 30px);
    grid-template-rows: repeat(1000, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
}

.wall {
    background-color: #333;
}
.hero{
    position: absolute;
    background-image: url("Assets/Hero/hero1.png");
    background-size: cover;
    height:30px;
    width: 55px;
    background-repeat: no-repeat;
    transition: transform 0.5s ease ;
}